#cont-navegador{
    max-width: 20%;
    min-width: 20%;
}

#navegador{
    padding-left: 0px; 
    display: block;
    padding: 10px;
    background-color: darkgrey; 


} 
#navegador > li{
    list-style: none;
}

#navegador > li > a{
    /* background-color: white; */
   color: rgb(39, 27, 27);
   padding: 8px;
}

#navegador > li > a:hover{
    background-color: rgb(20, 238, 238);
} 

#cont-colaboradores{
    padding: 10px;
}

#cont-img{
float: center;}

/* configuracion de estilos para el panel central */

#cont-anuncios{
    width: 80%;
    /* padding: 0 20px 0 20px; */
}