#cont-header{
    background-color: rgb(91, 91, 248);
    
}

#logo-academia-geek{
    font-size: 2rem;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-left: 30px;
}
