#cont-title-geek{
    background-color: rgb(91, 91, 248);
}

#title-geek{
    text-align: center;
    font-size: 9rem;
    color: white;
    
    
}

/* #generador-anuncios{
   
   display: block;
   width: 80%;
   margin: auto;  
    
} */

/* #form-anuncio{
    background-image: url("./../img/desingAnuncio.JPG");
    background-repeat: no-repeat;
    height: 65vh;
}


#text-area-buton{
    width: 52%;
    padding-top: 98px;
    padding-left: 115px;
     /*padding-right: 85px; preguntar al profesor como dejar la caja del anuncio estatica
  
    
}


#area-publicar-anuncio{
    height: 240px;
    border-radius: 28px;
}


#boton-publicar-anuncion{
    float: right;
    margin-top: 30px;
    display: block;
    
} 


#tabla-anuncios{
    width: 100%;
    margin-top: 60px; /* esta linea es para que no se suba la tabla a  la linea del boton 

} */


